/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Everything above is CSS Reset

header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.6);
    font-size: 35px;
    padding: 20px 20px 20px 20px;
}

#instructions {
    background-color: rgba(220,220,220, 0.4);
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}

#instructions:hover {
    background-color: rgba(220,220,220, 1);
    cursor: pointer;
}

.link-images {
    width: 50px;
    padding-right: 20px;
}

.link-tags {
    opacity: 0.6;
}

.link-tags:hover {
    opacity: 1;
    cursor: pointer;
}

#shot-chart-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

body > div {
    display: flex;
    justify-content: space-evenly;
}

.profile-selector {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin: 20px;
    gap: 10px;
}

.profile-image {
    display: flex;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.legend-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.legend-label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.profile-container {
    display: block;
    height: 100%;
}

.container-two {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.profile-render {
    position: relative;
    max-width: 500px;
    height: auto;
    display: flex;
    align-items: baseline;
    border: 1px solid black;
    margin-bottom: 10px;
}

.profile-render > div {
    display: flex;
    flex-wrap: wrap;
}

.profile-render > div::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
}

#profile-detail {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgb(0, 0, 0);
}
.player-info > p {
    flex: 1 0 50%;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 10px;
}

.tooltip-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.instructions-modal {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
}

h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: center;
    font-size: 30px;
}

.instructions-modal > p {
    padding-top: 10px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 25px;
    // box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.close {
    align-self: flex-end;
    color: #aaaaaa;
    float: right;
    font: 30px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.blur {
    filter: blur(3px);
}

.shot-hexagons {
    opacity: 0.8;
}

// .svg-content-responsive {
//     display: block;
//     position: relative;
//     width: 100%;
//     height: 100%;
//     overflow: visible;
// }

@media screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}